.page-header {
    font-size: 1.5em;
    align-content: center;
    text-align: -webkit-center;
}
#form-wrapper{
	
    height: 100%;        /* Set this to your convenience */
    margin: 0 auto;
    top:0;
    bottom:0;
    background-color: #eee;
    width: 90%;
    left: 5%;
    right: 5%;
    overflow: hidden;
}
body {
    background-color: #FFAE00;
    font-family: "Comic Sans MS", cursive, sans-serif !important;
}
.margin-bottom {
	margin-bottom: 20px;
}
.list-unstyled li{
	padding-left: 15px;
}