.page-header {
    font-size: xx-large;
    align-content: center;
    text-align: -webkit-center;
}
#form-wrapper{

    height: 100%;        /* Set this to your convenience */
    position: fixed;
    margin: 0 auto;
    top:0;
    bottom:0;
    background-color: #eee;
    left: 80px;
    right: 80px;
}
body {
    background-color: #FFAE00;
}
.row {
	margin-top: 5px;
}
